.navBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #EAEAEB;
}

#logo{
  display: inline-block;
  background: url('../../assets/img/logo.svg') no-repeat;
  background-size: cover;
  margin: 12px 10px 12px 32px;
  width: 350px;
  height: 60px;
  min-width: 60px;
}
